{% extends "auth/template/auth_layout.html" %} {% block wrapper_content %}

<div class="wrapper">
  <div class="container-fluid">
    <div
      class="card o-hidden transparent border-0 my-5"
      style="background: inherit !important; margin-top: 10px !important"
    >
      <div class="card-body p-0">
        <div class="row p-0 mb-3">
          <div class="col-2-lg col-md-4 col-sm-12"></div>
          <div class="col-6-lg col-md-4 col-sm-12">
            <div class="d-flex justify-content-center">
              <form
                id="loginForm"
                action="{{ url_for('main.login') }}"
                method="POST"
                class="login"
              >
                <div class="mb-3">
                  <h2>Login</h2>
                </div>
                <p id="error_status"></p>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    id="username"
                    name="username"
                    type="text"
                    class="form-control"
                    placeholder="Enter Username"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3 pass-con">
                  <label for="pasword" class="form-label">Password</label>
                  <input
                    id="password"
                    name="password"
                    placeholder="Enter Password"
                    class="form-control"
                    id="password"
                  />
                  <span class="show-pass" onclick="toggle()">
                    <i class="far fa-eye" onclick="myFunction(this)"></i>
                  </span>
                </div>

                <input type="hidden" name="login" value="1" />
                <div class="mb-3">
                  <button
                    type="submit"
                    id="loginButton"
                    data-loading-text="Logging in..."
                    class="btn btn-re w-100"
                  >
                    Login
                  </button>
                </div>
                <!-- <div class="mb-3 d-flex justify-content-between">
                  &nbsp;
                  <label for="email" class="link-type"
                    ><a href="">Forgot Password</a></label
                  >
                </div> -->
              </form>
            </div>
          </div>
          <div class="col-2-lg col-md-4 col-sm-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
