{% extends "admin/templates/admin_layouts.html" %}

{% block wrapper_content %}

<div class="card m-3">
    <div class="d-flex justify-content-end p-3 gap-3">
        <button class="btn btn-sm btn-success" onclick="loadTemplate('front')">Show Front</button>
        <button class="btn btn-sm btn-success" onclick="loadTemplate('back')">Show Back</button>

    </div>
    <iframe id="pdfFrame" src="{{ url_for('admin.pdf_template', page='front') }}" width="100%" height="600px"
        frameborder="0"></iframe>

    <script>
        function loadTemplate(type) {
            document.getElementById('pdfFrame').src = "{{ url_for('admin.pdf_template') }}?page=" + type;
        }
    </script>

</div>
{% endblock %}